
header{
    background:#bbbbbb;
    padding: 20px 0;  /*Para adicionar 20 padding em cima e em baixo e 0 dos lados */
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* Para tirar o estilo sublinhado do link */
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
}

#banner{
    width: 100%;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
}

/* Na aula classe missão */
.paragrafo-grande{
    font-size: 20px;
}

em strong{
    color: red;
}

.lista{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.imagembeneficios{
    width: 50%;
}


